
# /
/*.tmp*

# /DecTxnTestApp/
/DecTxnTestApp/tmp

# /DecTxnTestApp/db/
/DecTxnTestApp/db/*.sqlite3

# /DecTxnTestApp/log/
/DecTxnTestApp/log/*.log

# simon - .git dirs for plugins need to be ignored
/DecTxnTestApp/vendor/plugins/*/.git

# /plugins/dectxn/
/plugins/dectxn/rdoc
